<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">About tfc.ai</span></h1>
        </div>
    </div>
    <div class="row">
        <!-- first two icons -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <img src="static/assets/img/landing/fast.ai.png" class="related-software">
                </div>
            </div>
        </div>
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <img src="static/assets/img/landing/pytorch.png" class="related-software">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <div style="width:400px; display:block; margin-bottom:20px; text-align:justify;">
                    <p>We are experts in the fields of Artificial Intelligence, Software Engineering, Industrial Quality
                        Control and Manufacturing.</p>
                    <p>We deliver value by applying state-of-the-art AI and Machine Learning technologies to the challenges faced by our industry customers.</p>
                </div>
                <!--<img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">-->
                <ul class="list-inline social-icon">
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    <li><a href="https://www.linkedin.com/company/tfc-ai" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    <li><a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- second two icons -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <img src="static/assets/img/landing/tensorflow.png" class="related-software">
                </div>
            </div>
        </div>
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <img src="static/assets/img/landing/googleCloud.png" class="related-software">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <!--<p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>-->
        </div>
    </div>
</div>
