<div class="container" id="i18_productsServices">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="">Products and Services</span></h1>
        </div>
    </div>
    <div class="row features-block">
         <div class="col-xs-4">
            <p class="text-center"><i class="center fa fa-handshake-o productsServices_icon"></i></p>
            <h2 class="text-center"><span>Consulting</span></h2>
            <p>We help you with the following challenges:</p>
            <ul>
                <li>
                    How do you <strong>lead your company into the <abbr title="Artificial Intelligence" class="initialism">AI</abbr> era</strong>?
                </li>
                <li>
                    You have ideas for how to apply <abbr title="Artificial Intelligence" class="initialism">AI</abbr> in your company and need an <strong>experienced partner</strong> realising them.
                </li>
                <li>
                    You want to <strong>make better use of data</strong> you have available.
                </li>
                <li>
                    You want to <strong>provide broad <abbr title="Artificial Intelligence" class="initialism">AI</abbr> training</strong> to your employees and seek guidance on how to implement a training program.
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <p class="text-center"><i class="center fa fa-laptop productsServices_icon"></i></p>
            <h2 class="text-center"><span>Engineering & Training</span></h2>
            <p>Our expertise in Neural Networks and Machine Learning helps you get results faster.</p>
            <ul>
                <li>
                    <strong>Development, Training and Fine-Tuning</strong> of of <abbr title="Artificial Intelligence" class="initialism">AI</abbr> architectures and models (Software 2.0).
                </li>
                <li>
                    <strong>Integration of AI</strong> into your existing IT landscape.
                </li>
                <li>
                    <strong>Software Architecture and Software</strong> Engineering close-knit with AI.
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <p class="text-center"><i class="center fa fa-globe productsServices_icon"></i></p>
            <h2 class="text-center"><span>Industry 4.0 / Edge Deployment</span></h2>
            <p>We assist you in AI edge deployments:</p>
            <ul>
                <li>
                    <strong>Mobile, smart devices and <abbr title="Internet of Things">IoT</abbr></strong>: We got you covered. Deploy your neural networks on the edge and profit from our expertise in mobile and edge deployments.
                </li>
                <li>
                    Whether <strong>Nvidia, Intel or Google</strong>: We're tracking the latest hardware developments and work
                    <strong>highest performance edge devices on the market</strong>.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <!--<p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>-->
        </div>
    </div>
</div>
