    <!-- About Section -->
    <div id="about" class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About tfc.ai</h2>
                    <div class="lead">
			<p>We are experts in the field of <strong>Artificial Intelligence</strong>.</p>
			<p>We deliver value by <strong>applying state-of-the-art AI and Machine Learning technologies</strong> to the challenges faced by our customers.</p> </div> </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/colors.jpg" alt="">
                </div>
            </div>

        </div>
   </div>
