---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          <!-- {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %} -->

          <!-- Latest posts -->
          <!-- {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %} -->


        </article>

</div>

<header class="post-header" style="margin-top: 140px;">
  <section id="services">
    <p style="height:60px;"></p>
    <h1 class="post-title">Services</h1>
    <p class="post-description"></p>
</section>
</header>

<!-- profiles.html -->
<div class="post">

  <article>
    {% if page.profiles -%}
    {% for profile in page.profiles %}
    <hr>
    <div class="profile float-{%- if profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
      {%- if profile.image %}
        {%- assign profile_image_path = profile.image | prepend: 'assets/img/' -%}

        {% if profile.image_circular %}
          {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
          {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        {% include figure.html
        path=profile_image_path
        class=profile_image_class
        alt=profile.image -%}
      {% endif -%}
      {%- if profile.more_info %}
      <div class="more-info">
        {{ profile.more_info }}
      </div>
      {%- endif %}
    </div>

    <div class="clearfix">
      {% if profile.content -%}
      {% capture profile_content %}{%- include_relative {{ profile.content }} %}{% endcapture %}
      {{ profile_content | markdownify }}
      {%- else -%}
      {{ content }}
      {%- endif %}
    </div>

    {% endfor %}
    {%- endif %}
  </article>

</div>


<header class="post-header" style="margin-top: 140px;">
  <section id="references">
    <p style="height:60px;"></p>
    <h1 class="post-title">References</h1>
    <p class="post-description"></p>
</section>
</header>

<!-- pages/projects.md -->
<div class="projects">
  {%- if site.enable_project_categories and page.display_categories %}
    <!-- Display categorized projects -->
    {%- for category in page.display_categories %}
    <h2 class="category">{{ category }}</h2>
    {%- assign categorized_projects = site.projects | where: "category", category -%}
    {%- assign sorted_projects = categorized_projects | sort: "importance" %}
    <!-- Generate cards for each project -->
    {% if page.horizontal -%}
    <div class="container">
      <div class="row row-cols-2">
      {%- for project in sorted_projects -%}
        {% include projects_horizontal.html %}
      {%- endfor %}
      </div>
    </div>
    {%- else -%}
    <div class="grid">
      {%- for project in sorted_projects -%}
        {% include projects.html %}
      {%- endfor %}
    </div>
    {%- endif -%}
    {% endfor %}
  
  {%- else -%}
  <!-- Display projects without categories -->
    {%- assign sorted_projects = site.projects | sort: "importance" -%}
    <!-- Generate cards for each project -->
    {% if page.horizontal -%}
    <div class="container">
      <div class="row row-cols-2">
      {%- for project in sorted_projects -%}
        {% include projects_horizontal.html %}
      {%- endfor %}
      </div>
    </div>
    {%- else -%}
    <div class="grid">
      {%- for project in sorted_projects -%}
        {% include projects.html %}
      {%- endfor %}
    </div>
    {%- endif -%}
    {%- endif -%}
    </div>

    <header class="post-header" style="margin-top: 140px;">
      <section id="contact">
        <p style="height:60px;"></p>
        <h1 class="post-title">Contact</h1>
        <p class="post-description"></p>
    </section>
    </header>

    <h3>
      Get in touch now and start your AI journey with us!<br /><br />
      e-mail: <img style="height: 45px;" src="/assets/img/info-address_transp.png"><br />
      Phone: <a href="tel:+4962699099829">+49 6269-9099 829</a><br />
      <span style="display: inline-block; padding-left: 120px;"><a href="tel:+16503348011">+1 650-334 8011</a></span><br />
      <strong><a target="_blank" title="tfc.ai at LinkedIn" href="https://www.linkedin.com/in/dnlang/">LinkedIn</a></strong><br />               
    </h3>
    <p style="margin-bottom: 400px;"></p>